body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

header .container .left {
    display: flex;
}

header .left{
    align-items: center;
}

header .container .left ul{
    display: flex;
    gap: 30px;
    list-style: none;
}

.left ul li a{
    color: #9E9AA8;
    text-decoration: none;
}

header .right ul{
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
}

header .right ul li a{
    color: #9E9AA8;
    text-decoration: none;
}

header .container{
    display: flex;
    justify-content: space-between;
}

.qator1{
    background-color: #2BD0D0;
    padding: 11px 20px 11px;
    border-radius: 30px;
}

.qator1 .tor{
    color: white;
    font-weight: bold;
}

.font .left p{
    color: #9E9AA8;
}

.font .left h1{
    font-size: 70px;
    margin-bottom: 10px;
    margin-top: 100px;
}

.font .left a{
    color: white;
    text-decoration: none;
    background-color: #2BD0D0;
    padding: 11px 30px 11px;
    border-radius: 30px;
}

.font .left p{
    margin-bottom: 40px;
}

.font .right{
    margin-left: 289px;
    margin-bottom: 50px;
}

.font .container{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.font .container .left{
    margin-top: 30px;
}

.font .container .left img{
    height: 120px;
}

.contact form {
    padding: 40px;
    text-align: center;
    background-color: #4B3F6B;
    border-radius: 9px;
}

.contact input{
    padding: 13px 500px 13px 8px;
    margin-right: 15px;
    border-radius: 5px;
    border: none;
}

.contact button{
    padding: 13px 20px;
    border-radius: 5px;
    border: none;
    background-color: #2BD0D0;
    color: white;
    font-weight: bold;
}

.contact{
    margin-top: 50px;
}

.contact .container img{
    text-align: center;
    font-weight: bold;
    display: flex;
    padding-top: 80px;
    margin-left: 350px;
}

.contact {
    background-color: rgb(113, 55, 55);
}

.contact .container form{
    position:relative;
    top: 650px;
    right: 300px;
}

.contact .container .get{
    color: white;
    background-color: #2BD0D0;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 25px;
    margin-left: 500px;
    margin-top: -75px;
    margin-bottom: 40px;
}

.contact .container .lol{
    margin-bottom: 80px
}

footer{
    background-color: #232127;
}

footer .container .left{
    display: flex;
}

footer .container .left ul{
    display: flex;
    list-style: none;
    gap: 30px;
    margin-top: 67px;
    align-items: center;
    margin-bottom: 60px;
}

footer .left ul a{
    color: white;
    align-items: center;
}

footer .left img{
    height: 30px;
    margin-top: 60px;
    align-items: center;
}

footer .container{
    display: flex;
    justify-content: space-between;
}

footer .container .right{
    margin-top: 60px;
    margin-bottom: 60px;
}